---
import AuthFooter from "@@/domains/auth/components/auth-footer.astro";
import type { HTMLAttributes } from "astro/types";
import RootLayout from "~@/layouts/root-layout.astro";
import { cn } from "~@/lib/cn";
interface Props extends HTMLAttributes<"main"> {}

const { class: className, ...props } = Astro.props;
---

<RootLayout>
  <main
    class={cn(
      "relative flex size-full min-h-dvh flex-col items-center justify-center overflow-hidden rounded-sm",
      className,
    )}
    {...props}
  >
    <slot />
    <AuthFooter className="absolute bottom-6" />
  </main>
</RootLayout>
