---
import { Logo } from "@/core/components/logo";
import { cn } from "@/core/lib/cn";
import { buttonVariants } from "@/core/ui/button";
import {
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/core/ui/card";
import { Muted } from "@/core/ui/typography";
import AuthCardContent from "@/domains/auth/components/auth-card-content.astro";
import AuthCardFooter from "@/domains/auth/components/auth-card-footer.astro";
import AuthCard from "@/domains/auth/components/auth-card.astro";
import AuthLayout from "@/domains/auth/layouts/auth-layout.astro";
import { OAuthForm } from "@/domains/auth/modules/oauth-form";
---

<AuthLayout>
  <AuthCard>
    <AuthCardContent className="overflow-visible">
      <Logo
        className="bg-background hover:bg-background -translate-1/2 absolute left-1/2 top-0 border-2 border-dashed p-2"
      />
      <CardHeader
        className="flex flex-col items-center justify-center overflow-visible pt-8"
      >
        <CardTitle className="text-center text-2xl font-bold">
          Welcome back
        </CardTitle>
        <CardDescription className="text-center">
          Great to see you - Let&apos;s get stated!
        </CardDescription>
      </CardHeader>
      <CardContent className="flex flex-col gap-4">
        <OAuthForm client:load />
      </CardContent>
    </AuthCardContent>
    <AuthCardFooter className="pb-6">
      <Muted className="text-center">
        Do not have an account yet?
        <a
          class={cn(
            buttonVariants({
              variant: "link",
              size: "sm",
            }),
            "font-bold",
          )}
          href="/auth/sign-up"
        >
          Sign Up
        </a>
      </Muted>
    </AuthCardFooter>
  </AuthCard>
</AuthLayout>
