---
import { Logo } from "@/core/components/logo";
import { cn } from "@/core/lib/cn";
import { buttonVariants } from "@/core/ui/button";
import {
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/core/ui/card";
import { Muted } from "@/core/ui/typography";
import AuthCardContent from "@/domains/auth/components/auth-card-content.astro";
import AuthCardFooter from "@/domains/auth/components/auth-card-footer.astro";
import AuthCard from "@/domains/auth/components/auth-card.astro";
import AuthLayout from "@/domains/auth/layouts/auth-layout.astro";
import { OAuthForm } from "@/domains/auth/modules/oauth-form";
import { PUBLIC_APP_NAME } from "astro:env/client";
---

<AuthLayout>
  <AuthCard>
    <AuthCardContent>
      <Logo
        className="bg-background hover:bg-background absolute left-1/2 top-0 -translate-x-1/2 -translate-y-1/2 border-2 border-dashed p-2"
      />
      <CardHeader className="flex flex-col items-center justify-center pt-8">
        <CardTitle className="text-center text-2xl font-bold">
          Create an Account
        </CardTitle>
        <CardDescription className="text-center">
          Let&apos;s get you started to {PUBLIC_APP_NAME}
        </CardDescription>
      </CardHeader>
      <CardContent className="flex flex-col gap-4">
        <OAuthForm client:load />
      </CardContent>
    </AuthCardContent>
    <AuthCardFooter className="pb-6">
      <Muted className="text-center">
        Already have an account?
        <a
          class={cn(
            buttonVariants({
              variant: "link",
              size: "sm",
            }),
            "font-bold",
          )}
          href="/auth/sign-in"
        >
          Sign In
        </a>
      </Muted>
    </AuthCardFooter>
  </AuthCard>
</AuthLayout>
