---
import type { ComponentPropsWithRef } from "react";
import { cn } from "~@/lib/cn";
import { buttonVariants } from "~@/ui/button";
import { Muted } from "~@/ui/typography";

interface Props extends ComponentPropsWithRef<typeof Muted> {}

const { className, ...props } = Astro.props;
---

<Muted className={cn("max-w-xs text-center", className)} {...props}>
  By continuing, you agree to our <a
    href="/terms"
    class={buttonVariants({ variant: "link", size: "sm" })}
  >
    terms & conditions
  </a> and
  <a href="/privacy" class={buttonVariants({ variant: "link", size: "sm" })}>
    privacy policy
  </a>
</Muted>
