---
import RootLayout from "@/core/layouts/root-layout.astro";
import { cn } from "@/core/lib/cn";
import { buttonVariants } from "@/core/ui/button";
import {
  State,
  StateActions,
  StateDescription,
  StateIcon,
  StateTitle,
} from "@/core/ui/state";
import { ArrowLeftIcon, SearchSlashIcon } from "lucide-react";
---

<RootLayout>
  <State>
    <StateIcon>
      <SearchSlashIcon className="size-12" />
    </StateIcon>
    <StateTitle className="text-xl font-extrabold"> Page not Found </StateTitle>
    <StateDescription>
      Looks like you have stumbled across a page that does not exist in our
      universe.
    </StateDescription>
    <StateActions>
      <a
        class={cn(
          buttonVariants({ variant: "default", size: "lg" }),
          "font-bold uppercase",
        )}
        href="/"
      >
        <ArrowLeftIcon />
        <span>Take me back</span>
      </a>
    </StateActions>
  </State>
</RootLayout>
