---
import { ArrowLeftIcon } from "lucide-react";
import { PlanetFill } from "~@/icons/planet-fill";
import RootLayout from "~@/layouts/root-layout.astro";
import { cn } from "~@/lib/cn";
import { buttonVariants } from "~@/ui/button";
import {
  State,
  StateActions,
  StateDescription,
  StateIcon,
  StateTitle,
} from "~@/ui/state";
---

<RootLayout>
  <State>
    <StateIcon>
      <PlanetFill className="text-primary size-12" />
    </StateIcon>
    <StateTitle className="text-xl font-extrabold"> Page not Found </StateTitle>
    <StateDescription>
      Looks like you have stumbled across a page that does not exist in our
      universe.
    </StateDescription>
    <StateActions>
      <a
        class={cn(
          buttonVariants({ variant: "default", size: "lg" }),
          "font-bold uppercase px-4",
        )}
        href="/"
      >
        <ArrowLeftIcon />
        <span>Take me back</span>
      </a>
    </StateActions>
  </State>
</RootLayout>
