---
import { HomeSidebar } from "@@/bounded/home/modules/home-sidebar";
import RootLayout from "~@/layouts/root-layout.astro";

const pathname = Astro.originPathname;
---

<RootLayout>
  <section class="flex h-full w-full flex-row items-start justify-center">
    <!-- Sidebar -->
    <HomeSidebar pathname={pathname} client:load />

    <!-- Main Content -->
    <main class="flex h-full w-full flex-row gap-4 p-2">
      <slot />
    </main>
  </section>
</RootLayout>
