---
import { HomeSidebar } from "@@/bounded/home/modules/home-sidebar";
import RootLayout from "~@/layouts/root-layout.astro";
import { HomeTopbar } from "../modules/home-topbar";

const pathname = Astro.originPathname;
---

<RootLayout>
  <section class="flex h-full w-full flex-row items-center justify-center">
    <!-- Sidebar -->
    <HomeSidebar pathname={pathname} client:load />

    <!-- Main Content -->

    <main
      class="relative flex size-full flex-col items-start justify-start -space-y-2 overflow-hidden p-2 pt-0"
    >
      <HomeTopbar className="relative" client:load />
      <slot />
    </main>
  </section>
</RootLayout>
